<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Recipe</h1>
    <form action="/users/<%= user._id %>/recipes/<%= recipe._id %>/?_method=PUT" method="POST"> 
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= recipe.title %>"/>
    
    
       <label for="ingrediace">Ingrediace</label>
    <input type="text" name ="ingrediace" id="ingrediace" value="<%= recipe.ingrediace %>"/>
    
        <label for="instructions">Instructions</label>
    <input type="text" name="instructions" id="instructions" value="<%= recipe.instructions %>" />
       
    <label for="image">Image URL</label>
                <input type="text" id="image" name="image" required>
  
        <label for="notes">Notes</label>
        <input type="text" name="notes" id="notes" value="<%= recipe.notes %>" />
           
     
      <button type="submit">Edit Recipe</button>
    </form>
</body>
</html>