<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Recipe</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Recipes</h1>
    <a href="/users/<%= user._id %>/recipes/new">Add Recipe</a>
    <ul>
      <% if (recipes && recipes.length) { %>
      <% recipes.forEach((recipe) => { %>
      <li>
        <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>">
          <p><%= recipe.title %></p>

          
            
        </a>
      </li>
      <% }); %>
      <% } else { %> 
      <li>No recipes available.</li>
    <% } %> 
    </ul>
  </body>
</html>