<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= recipe.title %></h1>
      
    <br> 
      <%if (recipe.ingrediace) {%> 
        <p>Ingrediace: <%=recipe.ingrediace%>
        </p>
        <% } %>
      <br> 
      <%if (recipe.instructions) {%>
        <p>Instructions: <%=recipe.instructions%>
        </p>
        <% } %>
      <br>
    <% if( recipe.notes) { %>
    <p>Notes: <%= recipe.notes %>
  </p>
    <% } %> 
    <% if (recipe.image) { %>
      <p>Image:</p>
      <img src="<%= recipe.image %>" alt="Recipe Image" style="max-width: 100%; height: auto;">
  <% } else { %>
      <p>No image available.</p>
  <% } %>
   




    <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>/edit"
      >Edit</a
    >

    <form
      action="/users/<%= user._id %>/recipes/<%= recipe._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this recipe</button>
    </form>
  </body>
</html>