<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= recipe.title %> at <%= recipe.ingrediace %> at <%= recipe.instructions %></h1>
    <% if( recipe.notes) { %>
    <p>Notes: <%= recipe.notes %></p>
    <% } %> 
    <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>/edit"
      >Edit</a
    >

    <form
      action="/users/<%= user._id %>/recipes/<%= recipe._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this recipe</button>
    </form>
  </body>
</html>